USE [master]
GO
/****** Object:  Database [CakeShop]    Script Date: 12/22/2020 8:56:54 PM ******/
CREATE DATABASE [CakeShop]
GO
USE [CakeShop]
GO
/****** Object:  Table [dbo].[CAKE]    Script Date: 12/22/2020 8:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAKE](
	[ID] [int] NOT NULL,
	[C_NAME] [nvarchar](max) NULL,
	[INFO] [nvarchar](max) NULL,
	[TYPEID] [int] NULL,
	[PRICE] [int] NULL,
	[IMG] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAKE_TYPE]    Script Date: 12/22/2020 8:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAKE_TYPE](
	[ID] [int] NOT NULL,
	[C_NAME] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECEIPT]    Script Date: 12/22/2020 8:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIPT](
	[ID] [int] NOT NULL,
	[INPUTDATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECEIPT_DETAIL]    Script Date: 12/22/2020 8:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIPT_DETAIL](
	[SERIAL] [int] NOT NULL,
	[RECEIPT_ID] [int] NOT NULL,
	[CAKE_ID] [int] NULL,
	[TYPEID] [int] NULL,
	[AMOUNT] [int] NULL,
	[TOTAL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SERIAL] ASC,
	[RECEIPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CAKE] ([ID], [C_NAME], [INFO], [TYPEID], [PRICE], [IMG]) VALUES (1, N'Bánh Sô-cô-la', N'Bánh Sô-cô-la',1, 180000, N'./Images/Best-Birthday-Cake-with-milk-chocolate-buttercream-SQUARE.jpg')
INSERT [dbo].[CAKE] ([ID], [C_NAME], [INFO], [TYPEID], [PRICE], [IMG]) VALUES (2, N'Bánh Dâu', N'Bánh Dâu',1, 240000, N'./Images/download.jpg')
INSERT [dbo].[CAKE] ([ID], [C_NAME], [INFO], [TYPEID], [PRICE], [IMG]) VALUES (3, N'Tiramisu',N'Tiramisu', 3, 90000, N'./Images/20186171820-tiramisu-16k.jpg')
INSERT [dbo].[CAKE_TYPE] ([ID], [C_NAME]) VALUES (1, N'Bánh kem')
INSERT [dbo].[CAKE_TYPE] ([ID], [C_NAME]) VALUES (2, N'Bánh bao')
INSERT [dbo].[CAKE_TYPE] ([ID], [C_NAME]) VALUES (3, N'Donut')
ALTER TABLE [dbo].[CAKE]  WITH CHECK ADD FOREIGN KEY([TYPEID])
REFERENCES [dbo].[CAKE_TYPE] ([ID])
GO
ALTER TABLE [dbo].[RECEIPT_DETAIL]  WITH CHECK ADD FOREIGN KEY([CAKE_ID])
REFERENCES [dbo].[CAKE] ([ID])
GO
ALTER TABLE [dbo].[RECEIPT_DETAIL]  WITH CHECK ADD FOREIGN KEY([RECEIPT_ID])
REFERENCES [dbo].[RECEIPT] ([ID])
GO
ALTER TABLE [dbo].[RECEIPT_DETAIL]  WITH CHECK ADD FOREIGN KEY([TYPEID])
REFERENCES [dbo].[CAKE_TYPE] ([ID])
GO
USE [master]
GO
